In [1]:
import pyodbc
import pandas as pd
import numpy as np
#from datetime import time
%matplotlib inline

In [2]:
um = pd.read_excel('UM_2.xlsx', sheetname='Sessions', header=0)
speak = pd.read_excel('UM_2.xlsx', sheetname='Speakers', header=0)
um = um.fillna('')
speak = speak.fillna('')

In [3]:
um[um.Speaker1.str.contains('halp', case=False, na=False)]

,Date,TimeStart,TimeEnd,ProgramTItle,ProgramDescription,ProgramMaterials,Speaker1,Speaker2,Speaker3,Speaker4,Speaker5,Speaker6,ProgramLocation,ProgramAttributes
13,2018-01-24,14:00:00,17:20:00,Selected Subchapter J Subjects: From the Plumb...,Understanding the rules of Subchapter J is ess...,Fundamentals_2.pdf,Alan S. Halperin,Amy E. Heller,NaN,NaN,NaN,NaN,NaN,Fundamentals

In [7]:
speak['speaker'] = speak.SpeakerFirstName + ' ' + speak.SpeakerMiddle + ' ' + speak.SpeakerLastName

In [8]:
speak.head()

,SpeakerLastName,SpeakerFirstName,SpeakerMiddle,SpeakerBio,speaker
0,Abendroth,Thomas,W.,Abendroth_Bio2018.pdf,Thomas W. Abendroth
1,Aghdami,Farhad,,Aghdami_Bio2018.pdf,Farhad Aghdami
2,Akers,Steve,R.,Akers_Bio2018.pdf,Steve R. Akers
3,Anderson,Alec,R.,Anderson_Bio2018.pdf,Alec R. Anderson
4,Angkatavanich,N.,Todd,Angkatavanich_Bio2018.pdf,N. Todd Angkatavanich

In [13]:
um.to_json('umtest.json',orient='records',date_format='iso' )

In [4]:
# df = DataFrame([[datetime.date(2013,1,1),datetime.date(2013,1,2)],[datetime.time(10),datetime.time(12)]]).T
#df[['date','time']].apply(lambda x: datetime.datetime.combine(*list(x)),axis=1)
d = '1970-01-01'
for t in um['TimeStart']:
    print pd.to_datetime(t)
#pd.to_datetime('1907-01-01' + um.TimeStart, unit='ms')

TypeError: object of type 'datetime.time' has no len()

In [4]:
um.dtypes

Date                  datetime64[ns]
TimeStart                     object
TimeEnd                       object
SessionID                     object
ProgramTitle                  object
ProgramDescription            object
ProgramMaterials              object
Speaker1                      object
Speaker2                      object
Speaker3                      object
Speaker4                      object
Speaker5                      object
Speaker6                      object
ProgramLocation              float64
ProgramAttributes             object
dtype: object

In [10]:
speak.to_json('speakers.json',orient='records' )

In [10]:
print pd.time(um['TimeStart']), pd.time(um['TimeEnd'])

AttributeError: 'module' object has no attribute 'time'

In [12]:
#um.sort_values(by='Date').head()

,Date,TimeStart,TimeEnd,SessionID,ProgramTitle,ProgramDescription,ProgramMaterials,Speaker1,Speaker2,Speaker3,Speaker4,Speaker5,Speaker6,ProgramLocation,ProgramAttributes
0,2018-01-21,14:00:00,18:00:00,NaN,Conference Check-In and On-Site Registration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-22,07:00:00,NaN,NaN,Conference Check-In and On-Site Registration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-22,09:00:00,12:15:00,NaN,Starting Off On the Right Foot While Avoiding ...,Clients launching new business ventures need a...,Fundamentals_1.pdf,Stephanie Loomis- Price,Samuel A. Donaldson,Ivan Taback,NaN,NaN,NaN,NaN,Fundamentals Program
3,2018-01-22,10:30:00,10:45:00,NaN,Break,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-22,12:15:00,14:00:00,NaN,Lunch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN