In [12]:
import pyodbc
import pandas as pd
import numpy as np
%matplotlib inline

In [14]:
um = pd.read_excel('UM_2.xlsx', sheetname='Sessions', header=0)
speak = pd.read_excel('UM_2.xlsx', sheetname='Speakers', header=0)
um.fillna('')
speak = speak.fillna('')

In [3]:
um[um.Speaker1.str.contains('halp', case=False, na=False)]

,Date,TimeStart,TimeEnd,ProgramTItle,ProgramDescription,ProgramMaterials,Speaker1,Speaker2,Speaker3,Speaker4,Speaker5,Speaker6,ProgramLocation,ProgramAttributes
13,2018-01-24,14:00:00,17:20:00,Selected Subchapter J Subjects: From the Plumb...,Understanding the rules of Subchapter J is ess...,Fundamentals_2.pdf,Alan S. Halperin,Amy E. Heller,NaN,NaN,NaN,NaN,NaN,Fundamentals

In [15]:
speak['speaker'] = speak.SpeakerFirstName + ' ' + speak.SpeakerMiddle + ' ' + speak.SpeakerLastName

In [16]:
speak.head()

,SpeakerLastName,SpeakerFirstName,SpeakerMiddle,SpeakerBio,speaker
0,Abendroth,Thomas,W.,Abendroth_Bio2018.pdf,Thomas W. Abendroth
1,Aghdami,Farhad,,Aghdami_Bio2018.pdf,Farhad Aghdami
2,Akers,Steve,R.,Akers_Bio2018.pdf,Steve R. Akers
3,Anderson,Alec,R.,Anderson_Bio2018.pdf,Alec R. Anderson
4,Angkatavanich,N.,Todd,Angkatavanich_Bio2018.pdf,N. Todd Angkatavanich

In [19]:
um.to_json('umtest.json',orient='records' )

In [8]:
pd.to_datetime(um.Date, unit='D')

0    2018-01-22
1    2018-01-22
2    2018-01-23
3    2018-01-23
4    2018-01-23
5    2018-01-23
6    2018-01-23
7    2018-01-23
8    2018-01-23
9    2018-01-23
10   2018-01-24
11   2018-01-24
12   2018-01-24
13   2018-01-24
14   2018-01-24
Name: Date, dtype: datetime64[ns]

In [10]:
um.dtypes

Date                  datetime64[ns]
TimeStart                     object
TimeEnd                       object
ProgramTItle                  object
ProgramDescription            object
ProgramMaterials              object
Speaker1                      object
Speaker2                      object
Speaker3                      object
Speaker4                     float64
Speaker5                     float64
Speaker6                     float64
ProgramLocation              float64
ProgramAttributes             object
dtype: object

In [1]:
speak.head()

NameError: name 'speak' is not defined

In [18]:
speak.to_json('speakers.json',orient='records' )